/* =============================== Discount css Start ============================ */
.discount-item {
  padding: clampCal(24, 48, 1199, 1599);
}
/* =============================== Discount css End ============================ */
